<p id="notice"><%= notice %></p>

<h1>Listing Media Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Channel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_items.each do |media_item| %>
      <tr>
        <td><%= media_item.title %></td>
        <td><%= media_item.link %></td>
        <td><%= media_item.channel %></td>
        <td><%= link_to 'Show', media_item %></td>
        <td><%= link_to 'Edit', edit_media_item_path(media_item) %></td>
        <td><%= link_to 'Destroy', media_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media item', new_media_item_path %>
