<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @media_item.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @media_item.link %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @media_item.channel %>
</p>

<%= link_to 'Edit', edit_media_item_path(@media_item) %> |
<%= link_to 'Back', media_items_path %>
