<p id="notice"><%= notice %></p>

<h1>Listing Scraps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th>User</th>
      <th>Channel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scraps.each do |scrap| %>
      <tr>
        <td><%= scrap.title %></td>
        <td><%= scrap.message %></td>
        <td><%= scrap.user %></td>
        <td><%= scrap.channel %></td>
        <td><%= link_to 'Show', scrap %></td>
        <td><%= link_to 'Edit', edit_scrap_path(scrap) %></td>
        <td><%= link_to 'Destroy', scrap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrap', new_scrap_path %>
