<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scrap.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @scrap.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @scrap.user %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @scrap.channel %>
</p>

<%= link_to 'Edit', edit_scrap_path(@scrap) %> |
<%= link_to 'Back', scraps_path %>
