<p id="notice"><%= notice %></p>

<h1>Listing Establishments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @establishments.each do |establishment| %>
      <tr>
        <td><%= establishment.name %></td>
        <td><%= link_to 'Show', establishment %></td>
        <td><%= link_to 'Edit', edit_establishment_path(establishment) %></td>
        <td><%= link_to 'Destroy', establishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Establishment', new_establishment_path %>
